@mixin theme($theme: rgba(151, 148, 148, 0.411)) {
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, .25);
  color: #fff;
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 20px;
}

form {
  @include theme;   
}



label {
  width: 350px;
  height: 70px;
  padding-top: 17px;
  margin-bottom: 0;

}

input {
  width: 350px;
  height: auto;
  background: rgba(102, 86, 86, 0.575);
  color: #f9f8f1da;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 12px;

}

textarea {
  background: rgba(102, 86, 86, 0.575);
  color: #f9f8f1da;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  width: 355px;
  height: 320px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 0;
}


.showEntry {
 /*
  -webkit-transform: scale(0.87);
  -moz-transform: scale(0.87);
  -o-transform:scale(0.87);
  -ms-transform:scale(0.87); 
   transform: scale(0.87);
  */
  background: rgba(102, 86, 86, 0.575);
  width: 750px;
  height: auto;
  padding: 17px;
  padding-bottom: 80px; 
  border-radius: 5px;
  display:none ;   
  margin-top: 20px;   
  margin-bottom: 70px;          
  font-family: "Oswald", sans-serif;
  line-height: 1;
  

  

#tripText {
  
  max-width: 300px; 
  color: #f9f8f1da;
  font-size: 20px;
  text-align: left;
  display:inline-block;
  padding-right: 0;
  padding-left: 10px;
  vertical-align: top;
  margin-right: 5px;
   
  
  img{
    max-width: 100px;
    padding: 0;
    margin: 0;
  }

}

#tripIMG {
  
  text-align: right;
  vertical-align: top;
  padding: 10px;
  display: inline-block;
  margin-left: 10px;

img {
  max-width: 400px; 
  max-height: 470px;
  display: inline-block;

  } 

 }

}

.dropbtn {
  color: rgb(235, 224, 125);
  padding: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-shadow: 2px 2px 2px #545454;


  &:hover, &:focus {
  color: #222222;
  }

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  color: #444;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
}


.show {display: block;}



.btn {

  width: 77px;
  height: 40px;
  background: #f0c239de;
  color: #383838d3;
  font-size: 17px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 12px;
  float: right;
  margin-top: 10px;
  margin: 0x;
  margin-right: 20px;
 

  &:hover {
    background-color: #175f1e96;
    opacity: 1;
    color: white;
  }
}



h1 {
  font-size: 36px;
}


.savedEntry{

  background: rgba(102, 86, 86, 0.575);
  max-width: 200px;
  padding: 10px;
  padding-bottom: 80px;
  border-radius: 5px;
  display:none ;   
  margin-top: 0;   
  margin-bottom: 70px;          
  font-family: "Oswald", sans-serif;
  line-height: 1;
  
 
  

#tripText2 {
  
  max-width: 180px;
  color: #f9f8f1da;
  font-size: 21px;
  text-align: left;
  display:inline-block;
  padding-top: 0px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom:0;
  padding: 10px;
  
  
  img{
    width: 70px;
  }

}

#tripImage2 {
  text-align:center;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
  //margin-left: auto;

img{
  max-width: 180px; 
 } 

 }
  




}




/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f9f8f1da;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f9f8f1da;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f9f8f1da;
  font-family: "Oswald", sans-serif;
}